<app-header></app-header>
<br><br><br><br>
<br>
    <input type="button" value="Go back!" onclick="history.back()">
    <br>
<h3 style="margin-top: 50px;"> View Equipment Details</h3>
<div>

    <div>
        <label> <b> Type: </b></label> {{equipment.type}}
    </div>
    <div>
        <label> <b> Sterilization_Date: </b></label> {{equipment.sterilization_Date}}
    </div>
    <div>
        <label> <b> Expiration_Date: </b></label> {{equipment.expiration_Date}}
    </div>
    <div>
        <label> <b> quantity: </b></label> {{equipment.quantity}}
    </div>
</div>

<app-footer> </app-footer>