
<app-header></app-header>
<body>
	<div id="booking" class="section">
		<div></div>

		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<img src="src\assets\img\background\icon1.png" alt="icone" width="40" height="40" class="mr-2">
						<h1 style="text-align:center; color:#fdfeff; margin-top: 70px;">Add Your Leave Request</h1>
						<form>
					
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Justification</span>
										<input class="form-control" type="text" placeholder="Justification" [(ngModel)]="daysOff.justification" name="justification">
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Start-Date</span>
										<input class="form-control" type="date" [(ngModel)]="daysOff.startDate" required name="startDate" >
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">End-Date</span>
										<input class="form-control" type="date" [(ngModel)]="daysOff.endDate" required name="endDate">
									</div>
								</div>
								<div></div>
								<div class="col-md-3">
									<div class="form-btn d-flex">
										<button (click)="addDaysOff()" class="submit-btn mr-2">Submit</button>
										<button class="submit-btn">Cancel</button>

									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<app-footer></app-footer>

