
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <app-sidebar></app-sidebar>

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar --><br>

                <app-headerback></app-headerback>
               
                <form class="container-fluid m-5"  ngForm #f="ngForm">
                 
                    <div class="form-group m-3 w-75">
                      <label>Invoice Descreption</label>
                      <input type="text" name="Invoice Descreption"  minlength ="3"  required class="form-control" id="name" placeholder="Descreption" #descreptionInvoice="ngModel" [(ngModel)]="p.descreptionInvoice">
                    </div>
                    <div class="form-group m-3 w-75">
                      <label>Payment Status</label>
                      <input type="number" min="0" max="1" name="Payment Status" class="form-control" id="name" placeholder="Payment Status" #statusPayment="ngModel" [(ngModel)]="p.statusPayment">
                    </div>    
                    <div class="form-group m-3 w-75">
                      <label>Patient ID</label>
                      <input type="number" name="Patient ID" class="form-control" id="name" placeholder="Patient ID" #idPatient="ngModel" [(ngModel)]="p.idPatient">
                    </div>
                    <div class="form-group m-3 w-75">
                      <label>Test Name</label>
                      <input type="test" name="Test Name" class="form-control" id="name" placeholder="Test Name" #TestList="ngModel" [(ngModel)]="p.TestList">
                    </div>
                    <button class="m-3 btn btn-dark bi-file-earmark-pdf-fill" (click)="addInvoice()" type="submit">Save</button>
                     
                </form>
                <div class="overlay" [ngClass]="isLoading? 'show':''"></div>
                <div class="spanner" [ngClass]="isLoading? 'show':''">
                <div class="loader"></div>
                <p>Wait ....</p>
                </div>                

                

                <!-- Footer -->
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            , made by ESPRIT STUDENT

                        </div>
                        <div>
                            <a href="" class="footer-link me-4" target="_blank">License</a>
                            <a href="" target="_blank" class="footer-link me-4">More Themes</a>

                            <a href="" target="_blank" class="footer-link me-4">Documentation</a>

                            <a href="" target="_blank" class="footer-link me-4">Support</a>
                        </div>
                    </div>
                </footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->


    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- / Layout wrapper -->


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->

</body>