<app-header></app-header>
<br><br><br><br><br>
<section id="appointment" class="appointment section-bg"  >
    <div class="container" >

      <div class="section-title">
        <h2>Make an Appointment</h2>
        <p>Please make sure to fill the current inputs</p>
      </div>
    
      <form  ngForm #f="ngForm">
        <div >
          <div style="text-align:center">
            <input type="text" required name="Appointement Type" class="form-control" id="name" placeholder="Appointement Type" #typeAppointement="ngModel" [(ngModel)]="p.typeAppointement">
          </div>
          <br>
          <div style="text-align:center">
            <input type="datetime-local" class="form-control" name="date" id="date" #dateAppointement="ngModel" [(ngModel)]="p.dateAppointement" [ngClass]="{'is-invalid': dateAppointement.invalid && (dateAppointement.dirty || dateAppointement.touched)}">
            <div  *ngIf="dateAppointement.invalid && (dateAppointement.dirty || dateAppointement.touched)" class="invalid-feedback">
              Please enter a valid date and time after the current date and time.
            </div>
          </div>
          <br>
          <div style="text-align:center">
            <button class="btn btn-primary" [disabled]="!f.valid || !isValidDate()" (click)="updateAppointement()">Update Appointment</button>
          </div>
        </div>
      </form>
    </div>
  </section><!-- End Appointment Section -->
<<<app-footer></app-footer>