<h2>Sample Details</h2>
<table>
  <tr>
    <td><strong>Sample ID:</strong></td>
    <td>{{ sample.sampleID }}</td>
  </tr>
  <tr>
    <td><strong>Date of Withdrawal:</strong></td>
    <td>{{ sample.dateofwithdrawl }}</td>
  </tr>
  <tr>
    <td><strong>Urgency:</strong></td>
    <td>{{ sample.urgency }}</td>
  </tr> <tr>
    <td><strong>First Name:</strong></td>
    <td>{{ sample.userID.userFirstName }}</td>
  </tr> <tr>
    <td><strong>Last Name:</strong></td>
    <td>{{ sample.userID.userLastName }}</td>
  </tr>
</table>    
<button (click)="deleteSample(sample.sampleID)">Delete</button>
<button (click)="editSample(sample.sampleID)">update</button>